<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="org.movie.mapper.BoardMapper">
   <!--게시 글 작성  -->
   <insert id="insertSelectKey">

		<selectKey keyProperty="bno" order="BEFORE"
			resultType="long">
			select seq_board.nextval from dual
		</selectKey>

		insert into tbl_board (bno, brd_title, brd_content, user_id, brd_orginNo, brd_table )
		values (#{bno},
		#{brd_title}, #{brd_content}, #{user_id}, #{bno}, #{brd_table})
	</insert>
	
	<!--답변 작성  -->
   <insert id="insertReply">

		<selectKey keyProperty="bno" order="BEFORE"
			resultType="long">
			select seq_board.nextval from dual
		</selectKey>

		insert into tbl_board (bno, brd_title, brd_content, user_id, brd_orginNo, brd_groupOrd, brd_table)
		values (#{bno}, #{brd_title}, #{brd_content}, #{user_id}, #{brd_orginNo}, #{brd_groupOrd}, #{brd_table})
	</insert>
	
   
   <!-- 해당 글 번호 게시글 가져오기 -->
   <select id="readBoardByBno" resultType="org.movie.domain.BoardVO">
   		select * from tbl_board
   		where bno = #{bno}
   </select>
   
   <!-- 게시 글 삭제 -->
   <delete id="deleteBoard">
   		<choose>
   			<when test="brd_groupOrd == 1">
   				delete from tbl_board
   				where brd_orginNo = #{bno}
   			</when>
   			<otherwise>
   				delete from tbl_board
   				where bno = #{bno}
   			</otherwise>
   		</choose>
   </delete>
   
   <!--게시글 가져오기  -->
   <select id="getListWithPaging" resultType="org.movie.domain.BoardVO">
  <![CDATA[
  select 
    *
  from 
      (
      select
        rownum rn, bno, brd_title, brd_content, user_id, brd_regdate, brd_updatedate
        , brd_orginNo, brd_groupOrd
      from 
        (select * from tbl_board order by brd_orginno desc, brd_groupord ASC) 
      where 
  ]]>
  <!--검색 처리 -->
  <trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							brd_title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							brd_content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							user_id like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
<!-- 페이징 -->
  <![CDATA[    
      rownum <= #{pageNum} * #{amount}]]>
      <if test= "tableType == 'notice'">
      	and brd_table = 'notice'
      </if>
      <if test= "tableType == 'article'">
      	and brd_table = 'article'
      </if>
      )
 <![CDATA[  where rn > (#{pageNum} -1) * #{amount} ]]> 
  
	</select>
	
	<!-- 게시글 수정 -->
	<update id="updateBoard">
		update tbl_board
		set brd_title = #{brd_title} , brd_content = #{brd_content}, brd_updatedate = sysdate
		where bno = #{bno}
	</update>
	
	<!--게시글 수 가져오기  -->
	<select id="readTotalCount" resultType="int">
		select count(*) from tbl_board where 
		
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							brd_title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							brd_content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							user_id like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim> 
		
		bno > 0
		
		<if test= "tableType == 'notice'">
      	and brd_table = 'notice'
      </if>
      <if test= "tableType == 'article'">
      	and brd_table = 'article'
      </if>
		
	</select>
	
</mapper>