<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.movie.mapper.MovieMapper">

	<!--영화 생성  -->
	<insert id="insertSelectKey">

		<selectKey keyProperty="mno" order="BEFORE"
			resultType="long">
			select seq_movie.nextval from dual
		</selectKey>

		insert into tbl_movie (mno,
		title, director, actor1, actor2, actor3,
		actor4, plot, genre1,
		genre2, genre3, release, time, age, trailer, thumbnail_path, nation)
		values (#{mno},
		#{title}, #{director}, #{actor1}, #{actor2}, #{actor3},
		#{actor4}, #{plot}, #{genre1},
		#{genre2}, #{genre3},#{release},
		#{time}, #{age}, #{trailer}, #{thumbnail_path}, #{nation} )
	</insert>

<!-- Join 하기 위한 ResultMap -->
	<resultMap type="org.movie.domain.ImageVO" id="ImageVO">
		<result column="mno" property="mno" />
		<result column="img_name" property="img_name" />
		<result column="img_path" property="img_path" />
	</resultMap>
	<resultMap type="org.movie.domain.MovieVO" id="MovieVO">
		<result column="mno" property="mno" />
		<result column="title" property="title" />
		<result column="director" property="director" />
		<result column="actor1" property="actor1" />
		<result column="actor2" property="actor2" />
		<result column="actor3" property="actor3" />
		<result column="actor4" property="actor4" />
		<result column="plot" property="plot" />
		<result column="genre1" property="genre1" />
		<result column="genre2" property="genre2" />
		<result column="genre3" property="genre3" />
		<result column="release" property="release" />
		<result column="thumbnail_path" property="thumbnail_path" />
		<result column="nation" property="nation" />
		<result column="time" property="time" />
		<result column="age" property="age" />
		<result column="trailer" property="trailer" />
		<result column="avg_score" property="avg_score" />
		<result column="view_cnt" property="view_cnt" />
		<collection property="imageVO" resultMap="ImageVO" />
	</resultMap>
	
	<!--영화 정보 가져오기  -->
	<select id="readMovieInfo" resultMap="MovieVO">
		select * from tbl_movie
		JOIN tbl_image on tbl_movie.mno = tbl_image.mno
		where tbl_movie.mno = #{mno}
	</select>

	<!-- 등록된 영화 수 -->
	<select id="readMovieCnt" resultType="int">
		select count(title)
		from
		tbl_movie
	</select>
	
	<!-- 정렬 , paging , 장르, 처리된 영화 List -->
	<select id="getListWithPaging" resultMap="MovieVO">

		select *
		from (
		select
		<choose>
			<when test="type == 'titleAsc' || type == null">
				/*+INDEX_ASC(A title) */
			</when>
			<when test="type == 'titleDesc'">
				/*+INDEX_DESC(A title) */
			</when>
			<when test="type == 'releaseAsc'">
				/*+INDEX_ASC(A release) */
			</when>
			<when test="type == 'releaseDesc'">
				/*+INDEX_DESC(A release) */
			</when>
		</choose>
		rownum rn, A.*
		from tbl_movie A
		where <![CDATA[ rownum <= #{pageNum} * #{amount}]]>		
		<if test="searchKeyword != null and searchKeyword != ''">
			and title LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="genreList != null">

			<foreach item="genre" collection="genreList">

				<if test="genreList[0] !='' ">

					<trim prefixOverrides="and">
						and
						<trim prefix="and">
							#{genre} IN(genre1, genre2, genre3)
						</trim>
					</trim>
				</if>

			</foreach>

		</if>
		) tbl_movie JOIN tbl_image on tbl_movie.mno = tbl_image.mno

		where<![CDATA[ rn > (#{pageNum}-1) * #{amount}]]> 
		
		<choose>
			<when test="type == 'titleAsc' || type == null">
			order by title ASC
			</when>
			<when test="type == 'titleDesc'">
			order by title DESC
			</when>
			<when test="type == 'releaseAsc'">
			order by release ASC
			</when>
			<when test="type == 'releaseDesc'">
			order by release DESC
			</when> 
		</choose>

	</select>

	<!--  검색해서 영화 가져오기  -->
	<select id="readTotal" resultType="int">
		select count(title) from tbl_movie
		where <![CDATA[ mno > 0 ]]>
		<if test="searchKeyword != null and searchKeyword != ''">
			and title LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="genreList != null">

			<foreach item="genre" collection="genreList">

				<if test="genreList[0] !='' ">

					<trim prefixOverrides="and">
						and
						<trim prefix="and">
							#{genre} IN(genre1, genre2, genre3)
						</trim>
					</trim>
				</if>

			</foreach>
		</if>

	</select>

	<!-- 조회수  -->
	<update id="viewCnt">
		update tbl_movie set view_cnt = (view_cnt +
		1)
		where
		mno = #{mno}
	</update>

	<!--  영화 수정 -->
	<update id="modifyMovie">
		update tbl_movie
		set title = #{title}, director =
		#{director}, actor1 = #{actor1}, actor2
		= #{actor2},
		actor3 =#{actor3},
		actor4 = #{actor4}, plot = #{plot}, genre1 = #{genre1},
		updatedate =
		sysdate,
		genre2 = #{genre2},genre3 = #{genre3}, release =
		#{release},
		time = #{time}, age = #{age}, trailer = #{trailer}, thumbnail_path = #{thumbnail_path},
		nation = #{nation}
		where
		mno = #{mno}
	</update>

	<!--  영화 삭제 -->
	<delete id="delete">
		delete tbl_movie where mno = #{mno}
	</delete>

	<!-- 랜덤하게 영화 정보 가져오기 -->
	<select id="readRandomMovie" resultMap="MovieVO">
		select *
		from
		(select * from tbl_movie order by DBMS_RANDOM.VALUE) tbl_movie
		JOIN tbl_image ON tbl_movie.mno = tbl_image.mno
		WHERE ROWNUM = 1 
	</select>
	
	<!--  19~20년에 개봉한 영화 가져오기 -->
	<select id="readYearMovie" resultMap="MovieVO">
		select *
		from (select * from tbl_movie order by avg_score desc ) tbl_movie
		JOIN tbl_image ON tbl_movie.mno = tbl_image.mno
		WHERE release between '19.01.01' and '20.12.31'
		AND <![CDATA[ ROWNUM <= 5 ]]>
		
	</select>
	
	<!--  한국 영화 가져오기  -->
	<select id="readKorMovie" resultMap="MovieVO">
		select *
		from (select * from tbl_movie order by avg_score desc ) tbl_movie
		JOIN tbl_image ON tbl_movie.mno = tbl_image.mno
		WHERE  nation = 'korea'
		AND <![CDATA[ ROWNUM <= 5 ]]>
		
	</select>

	<!-- 외국 영화 가져오기  -->
	<select id="readForeignMovie" resultMap="MovieVO">
		select *
		from (select * from tbl_movie order by avg_score desc ) tbl_movie
		JOIN tbl_image ON tbl_movie.mno = tbl_image.mno
		WHERE  nation = 'foreign'
		AND <![CDATA[ ROWNUM <= 5 ]]>		
	</select>
	
	<!--  최신 등록한 영화 가져오기  -->
	<select id="readLatestMovie" resultMap="MovieVO">
		select *
		from (select * from tbl_movie order by release desc ) tbl_movie
		JOIN tbl_image ON tbl_movie.mno = tbl_image.mno
		WHERE <![CDATA[ ROWNUM <= 5 ]]>
		
	</select>

</mapper>