<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.movie.mapper.UserMapper">
	
	<!--  유저 등록 -->
	<insert id="insert">
		insert into tbl_user(user_id, user_pw, user_email) values (#{user_id}, #{user_pw}, #{user_email})
	</insert>
	
	<!--  Id 체크  -->
	<select id="checkId" parameterType="String" resultType="int">
		select count(*) from tbl_user where user_id = #{user_id}
	</select>
	
	<!-- Join 하기 위한 ResultMap -->
	<resultMap type="org.movie.domain.UserVO" id="memberMap">
    	<id property="user_id" column="user_id"/>
    	<result property="user_id" column="user_id"/>
    	<result property="user_pw" column="user_pw"/>
    	<result property="user_email" column="user_email"/>
    	<result property="regDate" column="regdate"/>
    	<result property="updateDate" column="updatedate"/>
    	<collection property="authList" resultMap="authMap">
    	</collection> 
  	</resultMap>
  	<resultMap type="org.movie.domain.AuthVO" id="authMap">
   		 <result property="user_id" column="user_id"/>
    	<result property="auth" column="auth"/>
  	</resultMap>
  
  	<!-- 유저 정보 & 권한 찾기 -->
 	<select id="read" resultMap="memberMap">
	SELECT 
 	u.user_id, user_pw, user_email, enabled, regdate, updatedate, auth
	FROM 
 	 tbl_user u LEFT OUTER JOIN tbl_user_auth auth on u.user_id = auth.user_id 
	WHERE u.user_id = #{user_id} 
  </select>
  
  <!--  유저 권한 등록 -->
  <insert id="insertAuth">
  	insert into tbl_user_auth(user_id, auth) values (#{user_id} ,'ROLE_MEMBER')
  </insert>
  
  <!-- 해당 유저 정보만 찾기 -->
  <select id="readUserInfo" resultType="org.movie.domain.UserVO">
  	select user_id, user_pw, user_email from tbl_user 
  	where user_id = #{user_id}
  </select>
  
  <!-- 유저 정보 수정 -->
  <update id="updateUserInfo">
  	update tbl_user set user_pw = #{user_pw}, user_email = #{user_email}, updatedate = sysdate
  	where user_id = #{user_id}
  </update>
  
  <!--  유저 정보 삭제  -->
  <update id="deleteUserInfo" >
  	update tbl_user set user_pw = '' , user_email = '', updatedate = sysdate,
  		enabled = 0, withdrawaldate = sysdate
  	where user_id = #{user_id}
  </update>
  
  <!-- 유저 권한 삭제  -->
  <update id="deleteUserAuth" >
  	update tbl_user_auth set auth = 'WITHDRAWAL'
  	where user_id = #{user_id}
  </update>
  
</mapper>